<ol>
    <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
    <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
    <li>Add a button which may only be clicked if the username is NOT an empty string</li>
    <li>Upon clicking the button, the username should be reset to an empty string</li>
</ol>

<div class="row">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <label>Username:</label>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <p>{{ username }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <input type="text" class="form-control" [(ngModel)]="username">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <button
                    class="btn btn-primary pull-right"
                    [disabled]="0 == username.length"
                    (click)="clearUsername()">
                Reset Username
            </button>
        </div>
    </div>
</div>